@import './Styles/defaultStyle';

@font-face {
    font-family: oswald;
    src: url(./Styles/fonts/Oswald-Light.ttf);
}

* {
    font-family: oswald;
}

img {
    width: 12em;
    height: 12em;
    border-radius: 50%;
    object-fit: cover;
    margin: 1rem 0 0 1rem;
}
body {
    margin: 3rem 10rem 3rem 10rem;
}
.blogContainer {
    border: 1px solid $blogBorder;
    background-color: $blogBackground;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}
.profile {
    width: 12rem;
}
.name {
    font-family: oswald;
    font-size: 3rem;
    padding-top: 1rem;
    width: 80%;
    margin: 4rem 0 0 2rem;
}
.content {
    flex: 1 1 auto;
    width: 100%;
    margin: 1% 2% 0 2%;
}

.btn {
    width: 3rem;
    height: 3rem;
    margin-top: 1rem;
    background-color: white;
    border: none;
}
.blogText {
    font-size: 1.5rem;
}

#likeBtn {
    margin-left: 2%;
}
#dislikeBtn {
    margin-left: 1rem;
}